@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        Skriv in rätt för bövelen!
    </h2><p> @Html.ActionLink("Så gå tillbaka nu", "Index");</p>
</body>
</html>