@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
</head>
<body>
    <h2>
        Sluta skriva in dumheter:(  Gå tillbaka till spelet nu!!!
    </h2>
   <p> @Html.ActionLink("Nytt spel?", "Index");</p>
</body>
</html>