@if (Request.IsAuthenticated) {
    <div class="right">
    <text>
        You are logged in as: @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
    </div>
    <p class="white">...   </p> 
} else {
    <p class="white">...   </p>  
}
